<head>
  <h2  align="center">Wheel of fortune</h2>
</head>

<body>
<!--   <p>
    <%= $table %>
    <%= $table_hidden %>
  </p> -->

  <table align="center">

    <%if $table != [] %>
      <% $table_hidden.each do |key| %>
        <td>
            <button style="width:40px;height:40px" type="submit" class="btn btn-primary" width="100px"%> <%= key%> </button>&nbsp;
        </td>
      <%end%>
    <%end%>

  </table>

  <p align="center">
      <%= link_to 'New secret word', new_main_scenes_path %> ||

      <% if $table != [] %> 
        <%= link_to 'Guess char', edit_main_scenes_path %> ||
      <%end%>

      <%= link_to 'Erase secret word', main_scenes_path, method: :delete %> 
   
  </p>
   
  

</body>